<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forex Converter</title>
    <link rel="stylesheet" href="static/converter.css">
</head>
<body>
    <h1>Forex Converter</h1>
    <div class="container">
        <form action="/convert" method='POST'>
            <table>
                <label for="from">Converting from:</label>
                <input type="text" id="from", name="from", placeholder="ex: USD"><br>

                <label for="to">Converting to:</label>
                <input type="text" id="to", name="to", placeholder="ex: EUR"><br>

                <label for="amount">Amount:</label>
                <input type="number" id="amount", name="amount", placeholder="ex: 100"><br>

                <button>Convert</button>
            </table>
        </form>
    </div>
</body>
</html>
